<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailyglucose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyGlucose">
        <activity android:name=".EkranWysokaGlukoza"></activity>
        <activity android:name=".EkranNiskaGlukoza" />
        <activity android:name=".EkranPrawidlowejGlukozy" />
        <activity android:name=".EkranHistoriaInsuliny" />
        <activity android:name=".EkranHistoriaGlukozy" />
        <activity android:name=".EkranNowyInsulina" />
        <activity android:name=".EkranNowyGlukoza" />
        <activity android:name=".EkranGlowny" />
        <activity android:name=".EkranRejestracji" />
        <activity android:name=".EkranLogowania" />
        <activity android:name=".EkranStartu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>